.yellow {
    background-color: #fcc822;
}

button {
    border: none;
    background-color: #fcc822;
    height: 80px;
    width: 124px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #d7af30;
}
